<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<title>Form Schedule</title>
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-3">
  			<a class="navbar-brand" href="#"><img src="{% static 'images/logotitus.jpg' %}" style="width: 100px;height: 40px;"></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    			<ul class="navbar-nav">
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:profile' %}">Home <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:about' %}">About <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:contact' %}">Contact <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:photo' %}">Photo <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:kegiatan' %}">Forms <span class="sr-only">(current)</span></a>
      				</li>
    			</ul>
  			</div>
		</nav>
	</div>
    
    <form action="{% url 'homepage:tambah' %}" method="POST" role="form">
     	{% csrf_token %}    
        
            <label for = "name"style="color: #ededed";font-size:100px;>Nama Kegiatan</label> 
            {{form.name}} 
	  <div class="form-group">
	    <label  style="color: #ededed">Tempat</label>
	    <div class="input-group" style="background-color: white">{{form.tempat}}</div>
	  </div>
	  <div class="form-group">
	    <label style="color: #ededed">Tanggal</label>
	    <div class="input-group" style="background-color: white">{{form.tanggal}}</div>
	  </div>
	  <div class="form-group">
	    <label style="color: #ededed">Jam</label>
	    <div class="input-group" style="background-color: white">{{form.jam}}</div>

	  </div>
	  <div class="form-group">
	    <label style="color: #ededed">Kategori</label>
	    <div class="input-group" style="margin-left: 3vw;">{{form.kategori}}</div>
	</div>
	<div><span class="input-group-btn">
		<button type="submit" class="btn" id="add-btn" style="color: #ededed">ADD</button>
    </span></div>

	</div>
	</form>

	<ul class="list-group t20" style="margin-right: 40vw; margin-top: 3vw; font-size:1.111vw;">
                <table>
                    <tr>
                        <td>
                            <li class="list-group-item">Kegiatan</li>
                        </td>
                        <td>
                            <li class="list-group-item">Tanggal</li>
                        </td>
                        <td>
                            <li class="list-group-item">Tempat</li>
                        </td>
                        <td>
                            <li class="list-group-item">Jam</li>
                        </td>
                        <td>
                            <li class="list-group-item">Kategori</li>
                        </td>
                    </tr>
                </table>
                {% for kegiatan in list_schedule %}
                <table>
                    <tr>
                        <td>
                            <li class="list-group-item">{{ kegiatan.name }}</li>
                        </td>
                        <td>
                            <li class="list-group-item">{{ kegiatan.tanggal }}</li>
                        </td>
                        <td>
                            <li class="list-group-item">{{ kegiatan.tempat }}</li>
                        </td>
                        <td>
                            <li class="list-group-item">{{ kegiatan.jam }}</li>
                        </td>
                        <td>
                            <li class="list-group-item">{{ kegiatan.kategori }}</li>
                        </td>
                        <td>
                            {% if kegiatan.pilih %}
                            <a href="{% url 'homepage:pilih' kegiatan.id %}">
                                <button class="btn" style="color: #ededed"> x
                                </button>
                            </a>
                            {% else %}
                            <a href="{% url 'homepage:pilih' kegiatan.id %}">
                                <button class="btn" style="background-color: #ededed; color: #ededed"> x
                                </button>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% endfor %}
                <a href="{% url 'homepage:hapus' %}" style="margin-top: 3vw;"><span class="input-group-btn">
                        <button type="button" class="btn" id="add-btn" style="color: red">Delete</button>
                    </span></a>
            </ul>
        </div>

</body>
</html>