<!DOCTYPE html>
{% load static %}
<html> 
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<title>Home</title> 
</head> 
<body > 
  	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-3">
  			<a class="navbar-brand" href="#"><img src="{% static 'images/logotitus.jpg' %}" style="width: 100px;height: 40px;"></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    			<ul class="navbar-nav">
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:profile' %}">Home <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:about' %}">About <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:contact' %}">Contact <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:photo' %}">Photo <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item active">
        				<a class="nav-link" href="{% url 'homepage:kegiatan' %}">kegiatan <span class="sr-only">(current)</span></a>
      				</li>
    			</ul>
  			</div>
		</nav>
	</div>
	<div id="bghome" class="row flex-row">
		<div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 pl-2 pr-2" style="left: 3%;margin-right: 2%;top: 2%;">
				<img src="{% static 'images/titus.jpg'%}" class="img-fluid">
				<br/>
		</div>
		<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 pl-4 pr-2" style="top: 2%;">			
			<div style="background-color: rgba(255, 0, 0, 0.17); height: 320px">
				<div class="text-left text-white" style="font-size: 2rem;">Hi Guys, I am</div>
				<p style="color: white; font-size: 1.5rem;">"Titus Dirgantoro P"</p>
				<p style="color: white;">Birth : 26 March 2001</p>
				<p style="color: white;">Home : Bekasi,Kaliabang Tengah</p>
				<p style="color: white;">Email : titusdirgantoro@gmail.com</p>
				<p style="color: white;">No. Telp : 081286263581</p>
				<br/>
			</div>
		</div>

		
	</div>
	
 
</body> 
</html>